%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
	&:after {
		@extend %ic;
		display: block;
	}
}

._icon-delivery:before {
	content: "\e900";
	transform: scale(0.7);
}
._icon-youtube:before {
	content: "\e901";
}
._icon-vk:before {
	content: "\e902";
}
._icon-vector:before {
	content: "\e903";
}
._icon-tube:before {
	content: "\e904";
}
._icon-triangle-right:before {
	content: "\e905";
}
._icon-triangle-down:before {
	content: "\e906";
}
._icon-tg:before {
	content: "\e907";
}
._icon-search:before {
	content: "\e908";
}
._icon-ruble::after {
	content: "\e909";
}
._icon-play:before {
	content: "\e90a";
}
._icon-phone:before {
	content: "\e90b";
}
._icon-mail:before {
	content: "\e90c";
}
._icon-logo:before {
	content: "\e90d";
}
._icon-location:before {
	content: "\e90e";
}
._icon-list:before {
	content: "\e90f";
}
._icon-like:before {
	content: "\e910";
}
._icon-jewelry:before {
	content: "\e911";
}
._icon-fb:before {
	content: "\e912";
}
._icon-e:before {
	content: "\e913";
}
._icon-account:before {
	content: "\e914";
	// transform: scale(1.5);
}
